@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ticker-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-text {
  animation: ticker-marquee 28s linear infinite;
}